.color-nav {
  background-color: #e2d9f3;
}

.color-main {
  color: #6610f2;
}

.color-icons {
  color: #a370f7;
}

.tab-current {
  border: solid #a370f7;
  border-radius: 5px;
  background-color: #a370f7;
  color: #ffff;
}

.tab-current:hover {
  color: #ffff;
}

.tab-next {
  color: #000;
}

.tab-next:hover {
  color: #000;
}

.img-album {
  width: 4rem;
}

.img-artist {
  border-radius: 50%;
}

.modal-added-to {
  background-color: #545454;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.check {
  font-size: 100px !important;
  color: #d3d3d3;
  justify-content: center;
}

.modal-added-to-msg {
  color: #d3d3d3;
}

.add-playlist-container {
  background-color: #545454;
  border-radius: 5px;
  height: 7rem;
  width: 7rem;
  justify-content: center;
  align-items: center;
}

.playlist-img-container {
  background-color: #545454;
  border-radius: 5px;
  height: 7rem;
  width: 7rem;
}

.playlist-img-placeholder {
  background-color: #000;
  opacity: 20%;
  border-radius: 5px;
  height: 10rem;
  width: 10rem;
}

.modal-background {
  background-color: rgb(0, 0, 0, 0.6);
}

.modal-container {
  background-color: #ffff;
  border-radius: 5px;
  height: 11rem;
  width: 18rem;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
